@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&family=Roboto+Slab&display=swap');
.container-nav{
    background-color: rgb(235, 234, 234);
}
h1{
    font-family: 'Noto Serif Balinese', serif;
    padding: 10px;
}
.nav-item{
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    &:hover{
        color: blue;
        box-shadow: inset 2px 0px 12px -1px rgba(0,0,0,0.75);
    }
}

.logo-nav{
    width: 25px;
   height: 35px;
}
